@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background-color: #F9C5D5;
}

nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.navbar-head {
    color: #fff;
    margin-inline: 1rem;
}

.navbar-content {
    display: flex;
    float: left;
}
.menu-content {
    margin-inline: 1rem;
    color: #fff;
}

.menu-content:hover {
    color: #FEE3Ec;
}

.banner {
    height: 100vh;
    position: relative;
    background-color: black;
}

.main-ch {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: 0;
    z-index: 3;
}

.yt-content {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 60%;
}

.banner::after {
    content: '';
    
}


